/* Reset layouts to sane values */
@import url("reset.css");
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Trebuchet MS', Trebuchet, Tahoma, Verdana, Arial, sans-serif;
	font-size: 16px;
}
body {
	background-color: white;
	background-image: url('lorenz.jpg');
	background-repeat: no-repeat;
	background-position:20% 40%;
}

a.logout {
	text-decoration: none;
	color:#222222;	
	background-image: url("logout.png") !important;
	background-position: 95% 45%;
	background-repeat: no-repeat;
	font-weight: bold;
	padding-right: 1em;
	text-shadow: 1px 1px 1px #666666;
	margin-left: 1em;
}
a.logout:hover {
	text-shadow: 1px 1px 1px white !important;
}

a.create_task {
	color:#222222;	
	background-image: url("create_task.png") !important;
	background-position: 100% 85%;
	background-repeat: no-repeat;
	text-decoration: none;
	font-weight:bold;
	padding-right: 2em;
	text-shadow: 1px 1px 1px #666666;
	border-right: 1px solid black;
}
a.create_task:hover {
	text-shadow: 1px 1px 1px white !important;
}

div.main {
	margin: 1em;
}

div.right_nav {
	position: absolute;
	top:.75em;
	right: 1em;
}

fieldset label {
	display: inline-block;
	width: 6em;
}

legend {
	font-weight: bold;
	text-shadow: 1px 1px 1px #666666;
}

input[type="text"], input[type="email"], input[type="password"], input[type="datetime-local"] {
	margin-bottom:.5em;
	margin-top:.5em;
}

#tasks {
	vertical-align: top;
}


div.task {
	width: 18em;
	height: 12em;
	padding: 2em 1em 1em  2em;
	overflow: auto;
}

div.task_container {
	float: left;
	margin: 1em;
	position: relative
}

.shadow {
  -moz-box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  box-shadow: 5px 5px 5px #333333;
}

p.log_subject.log_flavor_0 {
	font-size: 1.2em !important;
	text-shadow: 1px 1px 1px #666666;
	display: block;
}

div.log_entry {
	border: 1px solid darkgrey;
	background: lightgrey;
	padding: .5em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-top: .5em;
	min-height: 26px;
	position: relative;
}

div.log_entry.log_flavor_0 {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-bottom: ridge !important;
	background: none !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	margin-top: inherit !important;
}

p.log_subject {
	font-weight: bold;
	font-size: .9em;
}

div.log_body {
	border-top: ridge;
	font-size: .8em;
}

div.task_info {
	padding: .5em;
	font-weight: bold;
	position: absolute;
	top:1em;
	left: 0em;
	min-height: 8em;
}

div.task_info_content {
	width: 12em;
}

img.avatar {
	float: left;
	margin-right: .5em;
	margin-bottom: .5em;
}

img.small_avatar {
	float: left;
	margin-right: .25em;
	margin-bottom: .25em;
	height: 25px;
	width: 25px;
}

img.action_img {
	position: absolute;
	right: .25em;
	top: .25em;
}

div.taskinfo_name {
	word-break: normal;
}

div.task_time {
	clear: both;
}

hr.task_info {
	clear: both;
	border: 1px solid;
}

fieldset.task_region {
	margin: 1em;
	background-image: url('ui-bg_diagonals-thick_grey.png');
}

legend.task_region {
	padding: .5em;
	margin-left: 1em;
	font-size:1.2em;
	text-shadow: 1px 1px 1px #666666;
}

img.avatar {
	width: 50px;
	height: 50px;
}

#avatar_preview img {
	margin: 1em;
	border: groove;
}


div.task_action_content textarea {
	font-size: .8em;
	width: 90%
}


div.task_action_content input {
	font-size: .8em;
	width: 95%
}

div.task_action_content span, li {
	font-size: .8em;
}

.top_line {
	border-top: 1px solid grey;
}

p.log_details {
	clear: both;
	color: grey;
	font-style: italic;
	font-size: .8em;
}


#create_task_form input {
	font-size: .7em;
	width: 100%;
}

#create_task_form textarea {
	font-size: .7em;
}

div.task_status {
	margin-top: -2.7em;
	letter-spacing: 1em;
	font-size: .8em;
	text-align: center;
	border: 1px solid darkgrey;
	border-bottom-left-radius: 4px;
	background-color: lightgrey;
	text-shadow: 1px 1px 1px white;
	padding: .25em;
}

#stream_button {
	position: absolute;
	bottom: .25em;
	right: 1em;
	height: 1.5em;
	width: 20em;
	padding: 0;
}

#stream {
	position: absolute;
	width: 18em;
	right: 1em;
	top: 100%;
	z-index: 11;
	padding: 0 1em 0 1em;
	max-height: 30em;
	overflow: auto;
}

#stream span {
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0;
	margin-top:auto;
}
