/* Reset layouts to sane values */
@import url("reset.css");

/***** Global *****/
/* Body */
	body {
		background: #F5F4EF;
		color: #000305;
		font-size: 87.5%; /* Base font size: 14px */
		font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}

/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #C74350;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

/*

    Header

*****************/

#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

/* Banner */
#banner h1 {font-size: 3.571em; line-height: .6;}
#banner h1 a:link, #banner h1 a:visited {
	color: #000305;
	display: block;
	font-weight: bold;
	margin: 0 0 .6em .2em;
	text-decoration: none;
}

#banner h1 a:hover, #banner h1 a:active {
	background: none;
	color: #C74350;
	text-shadow: none;
}

#banner h1 strong {font-size: 0.36em; font-weight: normal;}

/* Main Nav */
#banner nav {
	background: #000305;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 2em 2em 2em;
	padding: 0;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
}
#banner nav ul {list-style: none; margin: 0 auto;}
#banner nav li {float: left; display: inline; margin: 0;}
#banner nav a:link, #banner nav a:visited {
	color: #fff;
	display: inline-block;
	/* height: 30px; */
	padding: 5px 1.5em;
	text-decoration: none;
}
#banner nav a:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
	background: #C74451;
	color: #fff;
	text-shadow: none;
}

a.logout {
	color:#C74451 !important;	
	background-image: url("logout.png") !important;
	background-position: 85% 55% !important;
	background-repeat: no-repeat !important;
	background-color: #000305 !important;
	font-weight: bold;
	position: absolute;
	right: 1em;
	text-shadow: 1px 1px 1px black !important;
}

a.logout:hover {
	text-shadow: 1px 1px 1px white !important;
}

#banner nav li:first-child a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;

	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

fieldset {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align:left;
	border: 2px solid #C74350;
	margin:0 1.5em 1.5em 0;
	padding:1.5em 1em 1em .5em;
}

#login fieldset {
	vertical-align: middle;
	background-color: #C74451;
	/* background-image: url("vegress_logo_grey.png"); */
	background-repeat: no-repeat;
	background-position: 5% 90%;
	display: block;
}

#login div.container {
	margin-top: 10%
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}

#login div.inner {
	position: absolute;
	left: 30%;
	top: 25%;
	width: 25em;
}

#login label {
  float:left;
  margin-right:0.5em;
  padding-top:0.2em;
  display:block;
  width:5em;
  text-align:right;
  font-weight:bold;
}

#login legend {
	font-weight: bold;
	font-size: 1.4em;
	color: white;
	background-color: black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: .25em .25em .25em .25em;
}

fieldset p {
	margin-bottom: .5em;
}

#login p.submit {
	margin-left: 5.5em;
	position: relative;
}

#login p.submit a {
	position: absolute;
	bottom: 0;
	right: .5em;
	color:black;
	vertical-align: bottom;
}

input[type="submit"],
input[type="button"] {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:white;
	border:0;
	font-size:.9em;
	font-weight:bold;
	background-color: black;
	height: 2em;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	text-shadow: 1px 1px 1px #333;
	background-color: white;
	color: black;
}

input[type="text"],input[type="password"],input[type="email"],input[type="file"]  {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:black;
	font-size:.9em;
	background-color: white;
	border:0;
	padding: .25em .5em .25em .5em;
}

div.message {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: grey;
	color: black;
	padding: .25em .5em .25em .5em;
	display: inline-block;
}

div.success {
	background-color: LightGreen !important;
}

div.error {
	background-image: url("error.png") !important;
	background-position: .25em 50% !important;
	background-repeat: no-repeat !important;
	padding-left: 45px;
	min-height: 3em;
	vertical-align: middle;
}

.validate_error { 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: black;
	color:white;
	
}

