/* Reset layouts to sane values */
@import url("reset.css");
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: "Trebuchet", "Arial", "Helvetica", "Verdana", "sans-serif";
	font-size: 16px;
}
body {
	background-color: white;
	background-image: url('lorenz.jpg');
	background-repeat: no-repeat;
	background-position:20% 40%;
}

a.logout {
	text-decoration: none;
	color:#222222;	
	background-image: url("logout.png") !important;
	background-position: 95% 45%;
	background-repeat: no-repeat;
	font-weight: bold;
	padding-right: 1em;
	text-shadow: 1px 1px 1px #666666;
	margin-left: 1em;
}
a.logout:hover {
	text-shadow: 1px 1px 1px white !important;
}

a.create_task {
	color:#222222;	
	background-image: url("create_task.png") !important;
	background-position: 100% 85%;
	background-repeat: no-repeat;
	text-decoration: none;
	font-weight:bold;
	padding-right: 2em;
	text-shadow: 1px 1px 1px #666666;
	border-right: 1px solid black;
}
a.create_task:hover {
	text-shadow: 1px 1px 1px white !important;
}

div.main {
	margin: 1em;
}

div.right_nav {
	position: absolute;
	top:.75em;
	right: 1em;
}

fieldset label {
	display: inline-block;
	width: 6em;
}

input[type="text"], input[type="email"], input[type="password"], input[type="datetime-local"] {
	margin-bottom:.5em;
	margin-top:.5em;
}
