/* Reset layouts to sane values */
@import url("reset.css");
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Trebuchet MS', Trebuchet, Tahoma, Verdana, Arial, sans-serif;
	font-size: 16px;
}
body {
	background-color: white;
	background-image: url('lorenz.jpg');
	background-repeat: no-repeat;
	background-position:20% 40%;
}

a.logout {
	text-decoration: none;
	color:#222222;	
	background-image: url("logout.png") !important;
	background-position: 95% 45%;
	background-repeat: no-repeat;
	font-weight: bold;
	padding-right: 1em;
	text-shadow: 1px 1px 1px #666666;
	margin-left: 1em;
}
a.logout:hover {
	text-shadow: 1px 1px 1px white !important;
}

a.create_task {
	color:#222222;	
	background-image: url("create_task.png") !important;
	background-position: 100% 85%;
	background-repeat: no-repeat;
	text-decoration: none;
	font-weight:bold;
	padding-right: 2em;
	text-shadow: 1px 1px 1px #666666;
	border-right: 1px solid black;
}
a.create_task:hover {
	text-shadow: 1px 1px 1px white !important;
}

div.main {
	margin: 1em;
}

div.right_nav {
	position: absolute;
	top:.75em;
	right: 1em;
}

fieldset label {
	display: inline-block;
	width: 6em;
}

legend {
	font-weight: bold;
	text-shadow: 1px 1px 1px #666666;
}

input[type="text"], input[type="email"], input[type="password"], input[type="datetime-local"] {
	margin-bottom:.5em;
	margin-top:.5em;
}

#tasks {
	vertical-align: top;
}


div.task {
	float: left;
	width: 18em;
	height: 12em;
	margin: 1em;
	padding: 1em 1em 1em  2em;
	word-break: break-all;
	overflow: auto;
	position: relative
}

.shadow {
  -moz-box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  box-shadow: 5px 5px 5px #333333;
}

p.log_subject.log_flavor_0 {
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #666666;
	display: block;
	border-bottom: ridge;

}

div.task_info {
	padding: .5em;
	font-weight: bold;
	position: absolute;
	left: 0em;
	height: 8em;
}

div.task_info_content {
	width: 12em;
}

img.avatar {
	float: left;
	margin-right: .5em;
	margin-bottom: .5em;
}

img.action_img {
	margin: .25em;
}

div.taskinfo_name {
	word-break: normal;
}

div.task_time {
	clear: both;
}

hr.task_info {
	clear: both;
	border: 1px solid;
}

fieldset.task_region {
	margin: 1em;
	background-image: url('ui-bg_diagonals-thick_grey.png');
}

legend.task_region {
	padding: .5em;
	margin-left: 1em;
	font-size:1.2em;
	text-shadow: 1px 1px 1px #666666;

}
